:host {
  .content {
    margin-left: 1rem;
  }

  .mat-mdc-text-field-wrapper,
  .mat-mdc-text-field-infix {
    height: 32px;
  }

  .mat-input-element {
    font-size: 14px;
  }

  input.search {
    min-height: 32px;
    min-width: 220px;
    border-radius: 5px;
    border: 1px solid #646363;
  }

  mat-card {
    margin: 2em auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }

  .filters {
    margin-top: 1rem;
  }

  mat-sidenav {
    width: 200px;
  }

  mat-toolbar {
    background-color: #174790;
    color: #fff;
  }

  .panel {
    padding: 0.5em;
    background-color: #f2f4f6;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 32px;
    margin: 1rem 0;
  }

  .refresh-icon.loading {
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
  }

  .pills {
    border: 1px solid;
    border-color: #149aed;
    color: #149aed;
  }

  ng-select {
    min-width: 150px;
    border-color: #149aed;

    &.ng-select-single .ng-select-container {
      height: 36px;
      border: 1px solid #646363;
    }
  }

  .app-form {
    margin-left: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }

  @media only screen and (max-width: 767px) {
    .app-form {
      flex-direction: column;
      gap: 1rem;
    }
  }
}