<mat-sidenav-container class="home">
  <mat-sidenav-content>
    <mat-toolbar>
      <span> Countries </span>
    </mat-toolbar>
    <div class="content">
      
      <div class="filters" *ngIf="countries">
    
        <div class="app-form">
            <input class="search" appearance="outline" 
            placeholder="Search countries by name"  
            matInput (keyup)="filterChange({ columnProp: 'name'}, $event)">
            <div *ngFor="let filter of filterSelectObj; let i = index">
              <ng-select [multiple]="false" [(ngModel)]="filter.modelValue" (ngModelChange)="filterChange(filter, $event)">
                <ng-option [value]="item" *ngFor="let item of filter.options(countries)">{{item}}</ng-option>
            </ng-select>
            </div>
            <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
          </div>
      </div>

      <div class="panel">
        <p *ngIf="dataSource">Showing <span *ngIf="dataSource.filteredData.length > 0"><b>{{dataSource.filteredData.length}}</b> out of</span> <b> {{ resultsLength }}</b> results 
        </p>
        <mat-icon (click)="ngAfterViewInit()" [ngClass]="{'refresh-icon': isLoadingResults, 'loading': isLoadingResults}" aria-hidden="false" aria-label="refresh" fontIcon="autorenew"></mat-icon>

      </div>

      <div class="table-container mat-elevation-z8">
        <table
          mat-table
          #table
          [dataSource]="dataSource"
          matSort
          matSortActive="name"
          matSortDisableClear
          matSortDirection="asc"
        >
      

          <!-- Capital Column -->
          <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef>Capital</th>
            <td mat-cell *matCellDef="let row">{{ row.capital }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Subregion Column -->
          <ng-container matColumnDef="subregion">
            <th mat-header-cell *matHeaderCellDef>Subregion</th>
            <td mat-cell *matCellDef="let row">
              <span>
                <button class="pills" (click)="setFilter('subregion', row.subregion)" mat-stroked-button color="ocean"> {{ row.subregion }}</button>
              </span>
            </td>
          </ng-container>

          <!-- Currency Column -->
          <ng-container matColumnDef="currencies">
            <th mat-header-cell *matHeaderCellDef>Currencies</th>
            <td mat-cell *matCellDef="let row">
              <span *ngFor="let currency of row.currencies">
                <button class="pills" (click)="setFilter('currencies', currency.name)" mat-stroked-button color="ocean"> {{ currency.name }}</button>
              </span>
            </td>
          </ng-container>

          <!-- Languages Column -->
          <ng-container matColumnDef="languages">
            <th mat-header-cell *matHeaderCellDef>Languages</th>
            <td mat-cell *matCellDef="let row">
              <span *ngFor="let language of row.languages">
                <button class="pills" (click)="setFilter('languages', language.name)"  mat-stroked-button color="ocean"> {{ language.name }}</button>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="resultsLength"
        [pageSize]="30"
        aria-label="Select page of europe countries search results"
      >
      </mat-paginator>

      <span class="done">
        <button mat-fab>
          <mat-icon>check circle</mat-icon>
        </button>
      </span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
